/* Write your CSS here */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cash-card-container {
  background-color: #150b3e;
  width: 80%;
  border-radius: 16px;
  padding-top: 24px;
  padding-left: 18px;
  padding-bottom: 8px;
  padding-right: 18px;
  max-width: 350px;
}

@media screen and (min-width: 768px) {
  .cash-card-container {
    width: 50%;
    padding-top: 48px;
    padding-left: 36px;
    padding-bottom: 16px;
    padding-right: 36px;
    max-width: 422px;
  }
}

.name-container {
  display: flex;
}

.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7d2fe;
  height: 48px;
  width: 48px;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .initial-container {
    height: 64px;
    width: 64px;
    border-radius: 32px;
  }
}

.initial {
  color: #7c3aed;
  font-size: 19px;
  font-weight: 600;
}

.name {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 8px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 20px;
    margin-left: 16px;
  }
}

.balance-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.your-balance {
  font-family: 'Roboto';
  font-size: 28px;
  color: #585076;
}

.rupees {
  color: #c4c4c4;
  font-family: 'Roboto';
  font-size: 25px;
}

.currency {
  font-family: 'Roboto';
  font-size: 18px;
  color: #585076;
  font-weight: 500;
}

.withdraw {
  font-family: 'Roboto';
  font-size: 28px;
  color: #c4c4c4;
  font-weight: 600;
}

.choose-sum {
  color: #585076;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 600;
}

.denomination-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-between;
  cursor: pointer;
  outline: none;
}
